<div *ngIf="useRoutes">
    <ul>
        <li>
            <a href="javascript: void(0);" (click)="navigateToRoute('forms-demo')">Forms Demo</a>
        </li>
        <li>
            <a href="javascript: void(0);" (click)="navigateToRoute('template-driven-forms')">Template Forms Demo</a>
        </li>
        <li>
            <a routerLink="pipes">Pipes</a>
        </li>
        <li>
            <a routerLink="directives">Directives</a>
        </li>
        <li>
            <a routerLink="users">Users</a>
        </li>
        <li>
            <a routerLink="students">API Crud</a>
        </li>
        <li>
            <a routerLink="parent-child">Parent Child Concept</a>
        </li>
    </ul>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
<div *ngIf="!useRoutes">
    <app-basic-operations></app-basic-operations>
</div>