<!-- <button (click)="addClass('class')">Add Class</button>
<button (click)="addClass('style')">Add Style</button>
<button (click)="addClass('variable')">Add Variable Class</button>
<button (click)="addClass('variableStyle')">Add Variable Style</button>
<button (click)="addClass('ternary')">Add Ternary Class</button>

<div
    [ngClass]="{ 'w-h-50': dataObj.class > 0, 'red': dataObj.class > 2 && dataObj.class <= 4, 
    'blue': dataObj.class > 4, 'green': dataObj.class > 5 }">
</div>

<div [ngClass]="{ 'w-h-50': dataObj.style > 0 }"
    [ngStyle]="{ 'background-color': dataObj.style <= 2 ? 'red' : dataObj.style <= 4 ? 'blue' : 'green'  }"></div>

<div [ngClass]="variableClass"></div>

<div [ngClass]="{ 'w-h-50': dataObj.variableStyle > 0 }" [ngStyle]="variableStyle"></div> -->

<!-- <app-forms-demo></app-forms-demo> -->

<!-- <app-template-driven-forms></app-template-driven-forms> -->

<app-angular-pipes></app-angular-pipes>